## Reading a Parquet file from an online source

In [1]:
import pandas as pd
import pyarrow.parquet as pq
import requests
import io

# URL of the Parquet file
url = 'https://github.com/Teradata/kylo/raw/master/samples/sample-data/parquet/userdata1.parquet'

# Download the Parquet file
response = requests.get(url)
parquet_file = io.BytesIO(response.content)

# Read the Parquet file into a pandas DataFrame
df = pd.read_parquet(parquet_file)

# Display the first few rows of the DataFrame
df.head()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,
4,2016-02-03 05:05:31,5,Carlos,Burns,cburns4@miitbeian.gov.cn,,169.113.235.40,5602256255204850,South Africa,,NaN,,

In [2]:
# Get the number of rows
num_rows = df.shape[0]

# Display the number of rows
print(f'Number of rows: {num_rows}')

Number of rows: 1000

## Processing the DataFrame

### Get distinct values from the birthdate column

In [3]:
# Get distinct values from the "birthdate" column
distinct_birthdates = df['birthdate'].dropna().unique()

# Display the distinct birthdates
distinct_birthdates

array(['3/8/1971', '1/16/1968', '2/1/1960', '4/8/1997', '', '2/25/1983',
       '12/18/1987', '3/1/1962', '3/27/1992', '1/28/1997', '8/12/1968',
       '8/15/1975', '6/27/1970', '12/20/1989', '4/13/1990', '1/15/1978',
       '6/5/1985', '1/23/1971', '6/5/1964', '12/10/1979', '9/22/1995',
       '9/21/1968', '5/20/1958', '7/21/1986', '11/13/1969', '2/6/1968',
       '8/20/1964', '8/8/1991', '1/28/1958', '3/8/1972', '12/19/1999',
       '8/28/1967', '9/28/1963', '4/8/1969', '4/6/1990', '12/12/1974',
       '5/29/1978', '11/1/1992', '8/26/1986', '6/26/1971', '9/6/1957',
       '5/7/1985', '8/23/1986', '7/21/1984', '2/15/1963', '11/28/1963',
       '12/13/1962', '5/27/1959', '4/10/1965', '4/5/1991', '5/6/1982',
       '7/25/1994', '5/3/1964', '8/29/1971', '2/13/1978', '11/6/1978',
       '4/11/1985', '12/20/1984', '3/9/1985', '9/24/1960', '9/30/1987',
       '9/12/1997', '11/4/1955', '6/5/1978', '11/4/1970', '10/8/1990',
       '10/28/1961', '12/23/1988', '5/25/1986', '6/24/2000', '2/1/1966',
       '5/31/1961', '8/10/1970', '7/8/2000', '1/20/1990', '7/20/1993',
       '8/22/1995', '6/5/1966', '11/10/1959', '1/2/1994', '8/21/1970',
       '1/7/1973', '10/17/1998', '9/27/1958', '4/28/1972', '11/18/1958',
       '12/18/1964', '3/9/1988', '10/7/1986', '10/13/1996', '7/23/1971',
       '10/1/1998', '5/7/1994', '6/11/1999', '7/14/1985', '2/27/1990',
       '10/20/1966', '2/4/1963', '6/1/1960', '8/30/1994', '2/25/2000',
       '8/25/1998', '5/18/1959', '8/22/1988', '3/3/1990', '10/2/1963',
       '3/10/1998', '11/20/1962', '5/29/1961', '7/28/1992', '1/24/1996',
       '12/1/1993', '2/10/1984', '10/20/1999', '8/24/1994', '6/1/1974',
       '8/22/1962', '11/3/2000', '2/5/1977', '5/31/1974', '6/10/1966',
       '3/11/1957', '1/10/2001', '1/23/1981', '11/13/1958', '6/2/1964',
       '10/4/1984', '4/16/1999', '11/28/1965', '2/11/1991', '6/12/1985',
       '4/9/1972', '10/15/1986', '10/19/1971', '1/26/1958', '11/9/1988',
       '1/15/1992', '3/20/1985', '9/3/1981', '8/10/2000', '12/12/1960',
       '3/3/1959', '9/23/1974', '2/18/1956', '11/24/1996', '4/13/1958',
       '5/3/1958', '3/29/1979', '3/30/1968', '12/12/1983', '3/2/1990',
       '10/23/1998', '4/18/1980', '7/4/1963', '6/10/1995', '4/3/1962',
       '12/26/1966', '11/14/1960', '6/22/1994', '9/26/1976', '9/7/1995',
       '5/30/1964', '1/5/1991', '2/3/1963', '3/28/1990', '9/5/1991',
       '8/4/1985', '9/13/1967', '12/30/1984', '1/12/1997', '1/2/1996',
       '2/11/1959', '2/14/1962', '9/10/1995', '5/19/1976', '7/21/1958',
       '7/14/1978', '12/26/1978', '10/22/1985', '7/2/1969', '7/16/1996',
       '12/4/1999', '1/24/1976', '4/10/1955', '10/4/1999', '5/10/1993',
       '3/25/1958', '8/31/1996', '3/10/1964', '4/19/1990', '12/31/1978',
       '10/21/1989', '2/7/1962', '12/16/1977', '9/10/1987', '2/6/1996',
       '5/17/1970', '6/5/1962', '4/19/1995', '11/25/1998', '6/10/1957',
       '5/21/1994', '1/17/1985', '11/24/2000', '12/21/1997', '5/8/1967',
       '9/23/1962', '1/16/1978', '2/26/1973', '9/9/1970', '1/27/1997',
       '2/27/1993', '7/14/1981', '6/22/1971', '7/16/1969', '10/11/1972',
       '7/16/1973', '1/26/1963', '5/17/1964', '8/12/1991', '7/23/1976',
       '6/6/1970', '12/1/1998', '6/13/1990', '10/5/1982', '8/8/1982',
       '3/14/1973', '5/22/1975', '9/5/2000', '9/18/1992', '7/29/1987',
       '8/6/1998', '6/30/1977', '4/9/1968', '10/24/1971', '4/4/1957',
       '6/17/1959', '4/13/1986', '11/20/1990', '10/21/1975', '10/2/1984',
       '6/5/1967', '12/29/1976', '11/4/1997', '4/9/1967', '10/21/1988',
       '5/29/1970', '1/7/1999', '6/14/1998', '11/14/1962', '1/15/1993',
       '10/26/1985', '11/27/1992', '8/30/1958', '7/23/1977', '11/21/1996',
       '4/30/1956', '3/2/1986', '3/24/1978', '2/8/1995', '8/29/1956',
       '11/5/1962', '6/7/1958', '9/9/1967', '7/16/1971', '5/20/1966',
       '12/11/2000', '3/30/1989', '5/14/1963', '5/23/1994', '11/26/1993',
       '1/16/1993', '11/24/1990', '8/11/1960', '3/31/1966', '3/7/2000',
       '11/9/1981', '3/10/1974', '9/2/1959', '4/10/1985', '11/16/1972',
       '9/9/1981', '4/22/1980', '1/20/1999', '11/20/1986', '12/27/1978',
       '4/29/1987', '11/30/2000', '7/4/1993', '6/19/1997', '8/10/1995',
       '9/18/1978', '11/24/1958', '11/15/1982', '10/22/1983', '3/30/1957',
       '10/17/1961', '9/4/1983', '7/28/1979', '10/27/1979', '11/24/1987',
       '12/6/1964', '4/12/1973', '3/16/1963', '10/4/1967', '11/21/1979',
       '11/16/1966', '10/14/1960', '9/18/1990', '10/13/1962', '11/8/1995',
       '8/16/1961', '10/9/1979', '8/18/1980', '3/9/1996', '7/2/1955',
       '3/18/1993', '8/19/1960', '9/1/1985', '9/27/1963', '8/19/1995',
       '10/7/1965', '10/21/1980', '3/9/1977', '10/27/1960', '10/28/1998',
       '2/22/1970', '11/19/1999', '2/26/1964', '5/10/1969', '11/18/1993',
       '3/15/1964', '2/22/1955', '11/11/1967', '11/19/1965', '2/1/1980',
       '7/24/1975', '2/1/1982', '8/26/1999', '7/18/1989', '6/27/1995',
       '3/22/1961', '10/15/2000', '1/6/1961', '6/30/1988', '3/22/1998',
       '3/7/1957', '12/23/1971', '6/26/1988', '9/15/1991', '1/4/1987',
       '5/4/1986', '1/8/1981', '10/9/1978', '1/19/1967', '5/6/1960',
       '6/16/1968', '8/4/1966', '9/22/1964', '6/28/1978', '10/18/1977',
       '2/19/1984', '2/25/1960', '8/3/1968', '10/17/1963', '11/29/1971',
       '2/18/1990', '12/23/1982', '9/14/1975', '6/24/1971', '12/25/1996',
       '10/6/1976', '11/13/1972', '4/21/1987', '6/30/1960', '12/20/1955',
       '5/9/1973', '12/5/1987', '2/27/1969', '6/28/1991', '7/19/1956',
       '7/24/1972', '12/18/1982', '11/6/1975', '2/5/1955', '9/8/1985',
       '2/17/1984', '7/20/1962', '8/26/1967', '8/4/1980', '12/31/1980',
       '6/12/1997', '10/4/1973', '6/3/1987', '3/14/1957', '12/16/1989',
       '4/5/1960', '6/13/1956', '7/11/1964', '7/22/1989', '3/8/1956',
       '4/30/1978', '9/27/1984', '10/24/1965', '9/24/1978', '12/23/1963',
       '9/1/1977', '8/28/1964', '10/22/1977', '12/18/1957', '7/7/1993',
       '6/22/1986', '6/6/1958', '5/10/1985', '12/4/1981', '9/19/1978',
       '2/25/1962', '9/4/1989', '3/11/1955', '10/6/1975', '1/23/1964',
       '7/6/1967', '11/20/1984', '2/7/1964', '1/30/1970', '3/31/1977',
       '12/11/1979', '6/22/1980', '12/16/1993', '8/1/1967', '5/4/1959',
       '3/12/1982', '2/4/1988', '7/24/1955', '7/11/1999', '1/27/1968',
       '9/2/1967', '2/25/1991', '5/29/1988', '11/3/1957', '11/20/1966',
       '2/24/1967', '9/8/1981', '12/31/1966', '4/21/1991', '11/25/1980',
       '11/24/1966', '4/9/1973', '8/3/1956', '3/14/1997', '7/31/1992',
       '10/2/1997', '4/15/1983', '7/11/1969', '4/8/1998', '3/24/1971',
       '2/12/1958', '8/17/1975', '4/23/2000', '6/23/1989', '4/27/1967',
       '6/13/1964', ' Saint Eustatius and Saba "', '7/2/1979',
       '10/5/1988', '7/24/1957', '3/23/1956', '6/3/1974', '5/25/1970',
       '9/21/1956', '8/24/1963', '2/1/1974', '7/26/1976', '11/30/1960',
       '1/6/2001', '3/5/1959', '2/14/1960', '8/27/1968', '12/17/1955',
       '8/6/1995', '3/13/1990', '10/22/1991', '10/3/1985', '7/17/1988',
       '8/10/1973', '7/12/1994', '2/16/1989', '4/27/1979', '11/12/1969',
       '12/8/1979', '3/14/1972', '2/17/1966', '8/13/1955', '1/11/1992',
       '7/20/1988', '8/8/1965', '11/23/1963', '1/8/1961', '5/17/1969',
       '8/29/1992', '4/2/1967', '11/25/1999', '8/20/1999', '6/23/1956',
       '12/15/1984', '3/3/1962', '10/23/1987', '3/26/1986', '12/28/1990',
       '3/21/1981', '5/5/1976', '5/1/1998', '12/26/1997', '8/15/1991',
       '5/23/1979', '10/20/1994', '3/31/1995', '1/9/1961', '2/3/1965',
       '9/19/1991', '1/22/1990', '4/6/1960', '8/8/1961', '1/5/1968',
       '5/2/1962', '6/17/1973', '7/22/1971', '1/23/1974', '10/24/1960',
       '7/8/1957', '11/21/1987', '3/27/1975', '9/13/1992', '5/5/1965',
       '5/8/1959', '10/24/1987', '5/23/1973', '8/16/1992', '8/25/1994',
       '11/20/1981', '1/28/1991', '5/15/1988', '1/12/1992', '3/11/1962',
       '1/23/1982', '4/28/2000', '10/9/1962', '2/11/1975', '1/27/1973',
       '7/31/1999', '1/18/1960', '6/9/1962', '10/18/1961', '11/1/1977',
       '1/6/1986', '7/27/1960', '1/2/1958', '6/5/1995', '5/6/1989',
       '8/2/1984', '1/18/1970', '9/2/1958', '11/25/1968', '8/26/1978',
       '6/5/1994', '12/5/1980', '6/18/1975', '5/27/1978', '8/13/1978',
       '1/18/1987', '12/4/1974', '5/31/1971', '8/22/1961', '3/18/1994',
       '2/1/1984', '8/18/1966', '11/12/1997', '11/15/1965', '4/3/1957',
       '7/29/1961', '1/9/1981', '5/19/1991', '11/20/1998', '7/2/1968',
       '7/8/1975', '12/11/1962', '3/12/1997', '8/11/1988', '12/26/1980',
       '10/2/1974', '11/24/1988', '5/18/1958', '2/16/1972', '6/13/1996',
       '4/17/1974', '7/13/1955', '8/10/1966', '11/6/1968', '1/16/1958',
       '5/12/1996', '11/24/1979', '6/23/1967', '6/26/1967', '2/28/1993',
       '6/25/1992', '10/7/1995', '11/4/1960', '12/31/1968', '5/13/1998',
       '10/28/1973', '4/17/1986', '1/24/1982', '6/24/1969', '1/4/1956',
       '2/15/1975', '4/19/1987', '12/3/1997', '7/17/1991', '3/8/1985',
       '2/10/1981', '6/7/1989', '5/31/1959', '3/24/1995', '4/19/1991',
       '11/28/1962', '2/26/1957', '12/23/1981', '5/30/1986', '11/23/1983',
       '4/19/1970', '2/17/1970', '1/20/1962', '3/18/1958', '10/8/1987',
       '4/15/1996', '8/31/1993', '12/21/1968', '3/7/1994', '5/31/1969',
       '11/28/1961', '12/19/1964', '10/12/1979', '4/24/1993', '10/3/1991',
       '8/20/1978', '5/31/1989', '5/6/1981', '2/16/1969', '6/18/1990',
       '10/27/1971', '3/14/1975', '11/22/1956', '12/3/1984', '5/21/1961',
       '4/21/1992', '7/7/1997', '6/15/1979', '12/16/1998', '2/13/1974',
       '5/19/1963', '6/3/1978', '12/8/1987', '5/24/1968', '7/19/1977',
       '12/24/1992', '11/14/1976', '11/2/1993', '3/12/1986', '4/20/1991',
       '5/8/1984', '11/3/1990', '5/7/1992', '9/15/1958', '5/14/1996',
       '2/20/1988', '5/11/1962', '1/25/2000', '6/25/1974', '6/24/1980',
       '5/22/1979', '12/2/1993', '8/2/1965', '5/23/1989', '7/26/1992',
       '9/19/1997', '8/14/1959', '3/25/1987', '1/3/1960', '12/2/1969',
       '4/16/1981', '3/26/1956', '10/10/1966', '4/21/1959', '6/12/1999',
       '3/3/1957', '5/5/1972', '11/23/1973', '1/1/1984', '4/16/1979',
       '7/31/1973', '3/4/1980', '5/31/1991', '9/17/1974', '2/16/1998',
       '7/21/1989', '5/1/1956', '9/14/1995', '1/14/1958', '6/5/1996',
       '3/28/1999', '4/1/1985', '7/19/1982', '6/1/1999', '11/15/1986',
       '4/3/1998', '4/26/1960', '8/10/1981', '3/5/1991', '3/12/1981',
       '6/15/1997', '6/14/1977', '5/16/1999', '1/28/1993', '4/17/1998',
       '4/7/1986', '3/1/1982', '2/15/1955', '11/25/1995', '10/7/1989',
       '2/24/1999', '7/16/1984', '5/31/1995', '4/3/1964', '9/17/1964',
       '11/23/1956', '6/15/1974', '5/13/1983', '3/19/1992', '2/1/1958',
       '10/12/1977', '3/9/1965', '10/21/1982', '7/17/1992', '12/7/1976',
       '11/15/1995', '1/19/1955', '11/4/1971', '10/22/1992', '8/31/1969',
       '4/12/1986', '9/25/1987', '1/27/1978', '1/10/1967', '8/30/1955',
       '10/31/1988', '11/4/1958', '7/18/1996', '6/1/1968', '10/9/1991',
       '2/2/1990', '2/18/1994', '6/6/1955', '9/30/1960', '3/27/1977',
       '6/16/1987', '11/27/1982', '10/19/1992', '11/5/1966', '8/11/1966',
       '6/19/1970', '7/28/1970', '12/3/1956', '12/4/1971', '1/3/1967',
       '6/4/1998', '2/23/1999', '5/31/1982', '9/16/2000', '8/28/1972',
       '7/2/1986', '6/8/1970', '7/18/2000', '2/16/1960', '1/5/1988',
       '7/30/1987', '7/8/1965', '4/22/1975', '5/1/1979'], dtype=object)

### Create an "age" column and handle invalid dates

In [4]:
from datetime import datetime

# Convert the "birthdate" column to datetime format, coerce errors to NaT (Not a Time)
df['birthdate'] = pd.to_datetime(df['birthdate'], format='%m/%d/%Y', errors='coerce')

# Drop rows with NaT in the "birthdate" column
df = df.dropna(subset=['birthdate'])

# Calculate the age
today = datetime.today()

# The lambda function accurately calculates the age considering whether the birthday has occurred this year or not
df['age'] = df['birthdate'].apply(lambda x: today.year - x.year - ((today.month, today.day) < (x.month, x.day)))

# Display the first few rows to check the new "age" column
df.head()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments,age
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,1971-03-08,49756.53,Internal Auditor,1E+02,53
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1968-01-16,150280.17,Accountant IV,,56
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,1960-02-01,144972.51,Structural Engineer,,64
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,1997-04-08,90263.05,Senior Cost Accountant,,27
5,2016-02-03 07:22:34,6,Kathryn,White,kwhite5@google.com,Female,195.131.81.179,3583136326049310,Indonesia,1983-02-25,69227.11,Account Executive,,41

### Perform data processing

In [5]:
# Perform some simple data processing
# For example, filtering the data for users older than 30
filtered_df = df[df['age'] > 30]

# Display the filtered DataFrame
filtered_df.head()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments,age
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,1971-03-08,49756.53,Internal Auditor,1E+02,53
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1968-01-16,150280.17,Accountant IV,,56
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,1960-02-01,144972.51,Structural Engineer,,64
5,2016-02-03 07:22:34,6,Kathryn,White,kwhite5@google.com,Female,195.131.81.179,3583136326049310,Indonesia,1983-02-25,69227.11,Account Executive,,41
6,2016-02-03 08:33:08,7,Samuel,Holmes,sholmes6@foxnews.com,Male,232.234.81.197,3582641366974690,Portugal,1987-12-18,14247.62,Senior Financial Analyst,,36

In [6]:
# Get the number of rows in the filtered DataFrame
filtered_num_rows = filtered_df.shape[0]

# Display the number of rows in the filtered DataFrame
print(f'Number of rows in filtered DataFrame: {filtered_num_rows}')

Number of rows in filtered DataFrame: 661

## Writing the processed DataFrame back to a Parquet file

In [7]:
# Write the filtered DataFrame to a new Parquet file
filtered_df.to_parquet('filtered_user_data.parquet')

# To confirm, read the Parquet file back into a DataFrame and display
df_written = pd.read_parquet('filtered_user_data.parquet')

df_written.head()

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments,age
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,1971-03-08,49756.53,Internal Auditor,1E+02,53
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1968-01-16,150280.17,Accountant IV,,56
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,1960-02-01,144972.51,Structural Engineer,,64
5,2016-02-03 07:22:34,6,Kathryn,White,kwhite5@google.com,Female,195.131.81.179,3583136326049310,Indonesia,1983-02-25,69227.11,Account Executive,,41
6,2016-02-03 08:33:08,7,Samuel,Holmes,sholmes6@foxnews.com,Male,232.234.81.197,3582641366974690,Portugal,1987-12-18,14247.62,Senior Financial Analyst,,36